In [1]:
import os
import json
import pandas as pd

In [2]:
def load_json_file(file):
    with open(file) as f:
        data = json.load(f)
    return data['data']

In [3]:
directory = "cro"
file_list = os.listdir(directory)

In [4]:
df = pd.DataFrame()
frames = []
for file in file_list:
    try:
        if file.endswith(".json"):
            filepath = os.path.join(directory, file)
            stanice = file.split("-")[0]
            dataframe = pd.DataFrame(load_json_file(filepath))
            dataframe['stanice'] = stanice
            frames.append(dataframe)
    except:
        print(file)

In [5]:
df = pd.concat(frames)

In [6]:
df = df.drop(columns=['files','itemcode']).sort_values(by='since').reset_index(drop=True)

In [7]:
df

,stanice,since,id,interpret,interpret_id,track,track_id
0,radiowave,2023-10-22T00:00:22+02:00,19376269.0,SYLVAN ESSO,11101.0,Frequency,82943.0
1,radiowave,2023-10-22T00:03:12+02:00,19376274.0,WINONA OAK,25899.0,Winter Rain,87407.0
2,jazz,2023-10-22T00:04:18+02:00,19376275.0,OMRI MOR,15258.0,Tears,51319.0
3,radiowave,2023-10-22T00:07:28+02:00,19376280.0,DIIV,2909.0,Skin Game,69599.0
4,jazz,2023-10-22T00:09:38+02:00,19376283.0,ALFREDO RODRIGUEZ & PEDRITO MARTINEZ,19128.0,Estamos Llegando,63167.0
...,...,...,...,...,...,...,...
476424,jazz,2024-12-19T23:53:24+01:00,21399720.0,The Three Sounds Featuring Gene Harris,18434.0,The Night Has a Thousand Eyes,60972.0
476425,radiowave,2024-12-19T23:55:59+01:00,21399723.0,JESSY LANZA,10188.0,Lick in Heaven,77079.0
476426,radiozurnal,2024-12-19T23:56:26+01:00,21399724.0,CHINASKI,2987.0,SLYŠÍM TVOJE KROKY,118401.0
476427,dvojka,2024-12-19T23:58:43+01:00,21399730.0,STUDIOVÝ ORCHESTR,4144.0,ČESKÁ STÁTNÍ HYMNA,13826.0
476428,jazz,2024-12-19T23:59:19+01:00,21399732.0,SNARKY PUPPY,10404.0,I Asked,34372.0

In [8]:
df.to_json(os.path.join("data","cro_raw.json"), orient="records")