In [1]:
import os
import pandas as pd

In [4]:
df = pd.read_csv(os.path.join("data","CZ_RADIO_TOP_100_tydenni.csv"))
wikid = pd.read_json(os.path.join("wikidata","wikidata.json"))
df = df.merge(wikid, on="interpret_hlavni", how="outer")

In [5]:
df[df['zeme_puvodu'] == 'Československo']

,Unnamed: 0,hitparada,rok,tyden,pozice,track,interpret,interpret_hlavni,vydavatel,id,...,zeme_puvodu,obcanstvi,etnicita,hlas,nastroje,oceneni,nabozenstvi,orientace,spotify_id,spotify_odberatele
90798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spirituál Kvintet,NaN,Q3564752,...,Československo,None,None,None,None,[Stříbrná medaile předsedy Senátu],None,None,None,NaN

In [6]:
df = df[df['zeme_puvodu'] == 'Česko']

In [15]:
df.groupby('interpret_hlavni')['track'].nunique().nlargest(10)

interpret_hlavni
Kryštof              30
Chinaski             28
Xindl X              27
Marek Ztracený       25
Michal Hrůza         25
Support Lesbiens     25
Ewa Farna            22
Mirai                19
Verona               19
Lucie Vondráčková    18
Name: track, dtype: int64

In [19]:
df[df['pozice'] == 1].groupby('interpret_hlavni')['track'].nunique().nlargest(50)

interpret_hlavni
Chinaski             10
Kryštof              10
Mirai                 4
Xindl X               4
Lenny                 2
Mandrage              2
Verona                2
Helena Zeťová         1
Lucie                 1
Marek Ztracený        1
Michal Hrůza          1
Divokej Bill          1
Ewa Farna             1
Nightwork             1
Peter Bič Project     1
Ready Kirken          1
Support Lesbiens      1
Václav Neckář         1
Wanastowi Vjecy       1
Mikolas Josef         1
Name: track, dtype: int64

In [9]:
df.groupby('interpret_hlavni')['rok'].nunique().nlargest(10)

interpret_hlavni
Chinaski            18
Kryštof             18
Michal Hrůza        18
Ewa Farna           16
No Name             16
Support Lesbiens    16
Verona              16
Anna K.             15
Marek Ztracený      15
Xindl X             15
Name: rok, dtype: int64

In [10]:
df.groupby('interpret_hlavni').size().nlargest(10)

interpret_hlavni
Kryštof           1449
Chinaski          1259
Mirai             1171
Marek Ztracený     997
Xindl X            874
Slza               748
Mandrage           731
Michal Hrůza       668
No Name            497
Divokej Bill       487
dtype: int64

In [13]:
df[df['gender'] == 'žena'].groupby('interpret_hlavni').size().nlargest(10)

interpret_hlavni
Anna K.              395
Lenny                322
Ewa Farna            312
Lucie Vondráčková    255
Lucie Bílá           226
Aneta Langerová      211
Olga Lounová         206
Tereza Kerndlová     140
Helena Zeťová        110
Lenka Filipová       102
dtype: int64

In [28]:
df[(df['gender'] == 'žena') & (df['pozice'] <= 20)].groupby('interpret_hlavni')['track'].nunique().nlargest(15)

interpret_hlavni
Anna K.              8
Ewa Farna            8
Lenny                8
Emma Smetana         4
Annabelle            3
Olga Lounová         3
Helena Zeťová        2
Lucie Bílá           2
Tereza Kerndlová     2
Barbora Poláková     1
Lenka Filipová       1
Lucie Vondráčková    1
Name: track, dtype: int64

In [24]:
df.explode('zanry').groupby('zanry')['interpret_hlavni'].nunique().nlargest(20)

zanry
pop music            36
rock                 25
folk                 10
pop rock             10
hip hop               8
alternativní rock     6
jazz                  6
punk rock             5
rap                   5
lidová hudba          4
country               3
hard rock             3
heavy metal           3
indie rock            3
populární hudba       3
trap                  3
folk pop              2
folk rock             2
house music           2
indie pop             2
Name: interpret_hlavni, dtype: int64