In [1]:
import os
import pandas as pd

In [2]:
from src.tabulka import tabulka

In [3]:
df = pd.read_json(os.path.join("data","cro_raw.json"))

In [4]:
df.shape

(219422, 7)

In [5]:
df['since'] = pd.to_datetime(df['since'].apply(lambda x: x.replace("02:00","01:00")))

In [6]:
df['interpret'] = df['interpret'].apply(lambda x: x.upper())
df['track'] = df['track'].apply(lambda x: x.upper())

In [7]:
df.head(2)

,since,id,interpret,interpret_id,track,track_id,stanice
0,2023-10-22 00:00:22+01:00,19376269,SYLVAN ESSO,11101,FREQUENCY,82943,radiowave
1,2023-10-22 00:03:12+01:00,19376274,WINONA OAK,25899,WINTER RAIN,87407,radiowave

In [8]:
df['rok'] = df['since'].dt.year

In [9]:
df.groupby(["interpret","track"]).size().nlargest(20)

interpret                      track
DERMOT KENNEDY                 KISS ME               320
HARRY STYLES                   AS IT WAS             312
MILEY CYRUS                    FLOWERS               310
STUDIOVÝ ORCHESTR              ČESKÁ STÁTNÍ HYMNA    301
LEWIS CAPALDI                  FORGET ME             288
KATEŘINA MARIE TICHÁ           PLAMEN                261
JELEN                          TOUHA A PLÁČ          248
FRED ROBERTS                   RUNAWAY               223
JAMES ARTHUR                   BLINDSIDE             213
BERRE                          THRILL OF IT ALL      208
ONE REPUBLIC                   WEST COAST            204
RAY DALTON                     DO IT AGAIN           203
ADAM ĎURICA                    VIETOR                201
MIROSLAV ŽBIRKA, DAVID ŽBIRKA  NEJSI SÁM             193
ANNA K                         ÚDOLÍ VČEL            191
ONLY THE POETS                 LOOKING AT YOU        182
PICTURE THIS                   GET ON MY LOVE        180
ED SHEERAN                     AMERICAN TOWN         178
MIRAI                          TENKRÁT               178
CHINASKI                       SMŮLA                 175
dtype: int64

In [10]:
cro22 = df[df['rok'] == 2022].groupby("interpret").size().nlargest(60)
cro22 = cro22[cro22 >= 1000]
cro22 = cro22.reset_index()
cro22['interpret'] = cro22['interpret'].apply(lambda x: x.title())
", ".join(cro22['interpret'].to_list())

''

In [11]:
df.groupby("interpret").size().nlargest(60)

interpret
CHINASKI             938
ROBBIE WILLIAMS      856
MIRAI                743
ED SHEERAN           697
JELEN                684
ROXETTE              684
R.E.M.               656
ADELE                631
COLDPLAY             630
QUEEN                629
BRYAN ADAMS          605
ANETA LANGEROVÁ      601
CRANBERRIES          601
ANNA K               598
LEWIS CAPALDI        580
ONE REPUBLIC         580
U 2                  580
DIVOKEJ BILL         574
PHIL COLLINS         570
MILEY CYRUS          569
SUPPORT LESBIENS     532
LUCIE                528
TINA TURNER          526
DUA LIPA             515
P!NK                 515
PET SHOP BOYS        503
MICHAEL JACKSON      495
TOMÁŠ KLUS           491
ABBA                 475
MAREK ZTRACENÝ       464
KAREL GOTT           456
DERMOT KENNEDY       453
XINDL X              439
GEORGE EZRA          436
HARRY STYLES         433
MIROSLAV ŽBIRKA      425
MARIE ROTTROVÁ       414
BON JOVI             408
HANA ZAGOROVÁ        408
LINKIN PARK          399
EARTHEATER           391
MICHAL HRŮZA         391
RICHARD MÜLLER       389
IMAGINE DRAGONS      375
MADONNA              372
BUTY                 369
GORILLAZ             368
DEPECHE MODE         362
LP                   359
TOM GRENNAN          359
ADAM ĎURICA          358
CAROLINE POLACHEK    354
ZAZ                  353
ROLLING STONES       346
OLYMPIC              340
ELÁN                 334
KRYŠTOF              328
VÁCLAV NECKÁŘ        326
STING                322
ENYA                 319
dtype: int64

In [12]:
df.groupby(["interpret","track"]).size().nlargest(50)

interpret                          track
DERMOT KENNEDY                     KISS ME                    320
HARRY STYLES                       AS IT WAS                  312
MILEY CYRUS                        FLOWERS                    310
STUDIOVÝ ORCHESTR                  ČESKÁ STÁTNÍ HYMNA         301
LEWIS CAPALDI                      FORGET ME                  288
KATEŘINA MARIE TICHÁ               PLAMEN                     261
JELEN                              TOUHA A PLÁČ               248
FRED ROBERTS                       RUNAWAY                    223
JAMES ARTHUR                       BLINDSIDE                  213
BERRE                              THRILL OF IT ALL           208
ONE REPUBLIC                       WEST COAST                 204
RAY DALTON                         DO IT AGAIN                203
ADAM ĎURICA                        VIETOR                     201
MIROSLAV ŽBIRKA, DAVID ŽBIRKA      NEJSI SÁM                  193
ANNA K                             ÚDOLÍ VČEL                 191
ONLY THE POETS                     LOOKING AT YOU             182
PICTURE THIS                       GET ON MY LOVE             180
ED SHEERAN                         AMERICAN TOWN              178
MIRAI                              TENKRÁT                    178
CHINASKI                           SMŮLA                      175
MICHAEL SCHULTE, R3HAB             WATERFALL                  167
JANA KIRSCHNER, MILAN ONDRÍK       LOVESTORY                  163
ANNE-MARIE, SHANIA TWAIN           UNHEALTHY                  162
COLDPLAY                           HIGHER POWER               160
DECLAN J DONOVAN                   HIDEAWAY                   157
P!NK                               RUNAWAY                    156
REA GARVEY                         FREE LIKE THE OCEAN        156
VOJTIK                             LOVESICK                   154
JAX JONES, FIREBOY DML             ME AND MY GUITAR           153
COLDPLAY, BTS                      MY UNIVERSE                149
DAVID KUSHNER                      DAYLIGHT                   149
JELEN                              JEŠTĚ JEDNU NOC            148
NIALL HORAN                        MELTDOWN                   147
DUA LIPA                           HOUDINI                    146
TOM GRENNAN                        HOW DOES IT FEEL           146
LOST FREQUENCIES                   THE FEELING                145
NATHAN EVANS                       CATCH YOU WHEN YOU FALL    145
LIGHT & LOVE                       BLUEBERRY SKY              144
GIANT ROOKS                        SOMEBODY LIKE YOU          141
MIRAI                              VEDLE TEBE USÍNÁM          139
PURPL BOI                          FADING AWAY                139
TEDDY SWIMS                        LOSE CONTROL               138
MAEA                               FINALLY                    137
ROBIN SCHULZ, RITA ORA, TIAGO PZK  I'LL BE THERE              134
ELI MICHAILI & LARIS DIAM          NTL                        131
TOM GREGORY                        FORGET SOMEBODY            131
POETIKA                            PŮLNOC                     130
TOMÁŠ HAVLEN                       SIVÁ                       130
ED SHEERAN                         CELESTIAL                  128
P!NK                               IRRELEVANT                 128
dtype: int64

## Kánon hlavního proudu

In [13]:
univerzalove = df.groupby(['interpret',"track"])['stanice'].nunique()
univerzalove = univerzalove[univerzalove >= 3]

In [14]:
len(univerzalove)

21

In [15]:
univerzalove[univerzalove > 3]

Series([], Name: stanice, dtype: int64)

In [16]:
univerzalove.head(25)

interpret              track
ANNABELLE              FLOWERS ON MY EYES                 3
BEATLES                HEY JUDE                           3
BILLIE EILISH          LUNCH                              3
BONEY M                DADDY COOL                         3
CELINE DION            MY HEART WILL GO ON                3
DUA LIPA               HOUDINI                            3
                       PHYSICAL                           3
HARRY STYLES           AS IT WAS                          3
LANA DEL REY           VIDEO GAMES                        3
MADONNA                HUNG UP                            3
MARIAH CAREY           ALL I WANT FOR CHRISTMAS IS YOU    3
MARKÉTA IRGLOVÁ        MY ROOTS GO DEEP                   3
MILEY CYRUS            FLOWERS                            3
NIRVANA                COME AS YOU ARE                    3
                       SMELLS LIKE TEEN SPIRIT            3
OASIS                  WONDERWALL                         3
RED HOT CHILI PEPPERS  CALIFORNICATION                    3
ROBBIE WILLIAMS        ROCK DJ                            3
                       SUPREME                            3
SADE                   SMOOTH OPERATOR                    3
STING                  ENGLISHMAN IN NEW YORK             3
Name: stanice, dtype: int64

## Mám rád

In [17]:
def hraje(x):
    return df[df['interpret'].str.lower().str.contains(x.lower(), na=False)].groupby(['interpret','track','stanice']).size().nlargest(1000).head(50)

In [18]:
hraje('bowie')

interpret                  track                         stanice
QUEEN, DAVID BOWIE         UNDER PRESSURE                radiozurnal    8
DAVID BOWIE                LET'S DANCE                   dvojka         4
LESTER BOWIE               GHOSTS (ALBERT AYLER)         vltava         4
DAVID BOWIE                THE STARS (ARE OUT TONIGHT)   vltava         4
                           CHINA GIRL                    dvojka         3
                           DOLLAR DAYS                   vltava         3
                           FAME                          dvojka         3
                           HEROES                        radiozurnal    2
BOWIE DAVID                CHINA GIRL                    dvojka         2
DAVID BOWIE                GIRL LOVES ME (DAVID BOWIE)   vltava         2
                           I CAN'T GIVE EVERYTHING AWAY  vltava         1
                           LAZARUS                       vltava         1
                           LET S DANCE                   dvojka         1
BOWIE DAVID                LET´S DANCE                   dvojka         1
DAVID BOWIE                LIFE ON MARS                  radiowave      1
                           SPACE ODDITY                  dvojka         1
                           SPACE ODDITY (ADMIN)          vltava         1
                           HEROES                        radiowave      1
                           THURSDAY S CHILD (ADMIN)      vltava         1
                           THURSDAYS CHILD               dvojka         1
                           VALENTINE´S DAY               dvojka         1
DAVID BOWIE & MICK JAGGER  DANCING IN THE STREET         dvojka         1
JAGGER MICK & BOWIE DAVID  DANCING IN THE STREET         dvojka         1
DAVID BOWIE                ABSOLUTE BEGINNERS            dvojka         1
QUEEN/DAVID BOWIE          UNDER PRESSURE                dvojka         1
dtype: int64

In [19]:
hraje('mišík')

interpret                                              track                                                                        stanice
VLADIMÍR MIŠÍK                                         JEDNOU                                                                       radiozurnal    51
VLADIMÍR MIŠÍK/ETC...                                  VARIACE NA RENESANČNÍ TÉMA                                                   dvojka         40
VLADIMÍR MIŠÍK                                         VARIACE NA RENESANČNÍ TÉMA                                                   radiozurnal    34
VLADIMÍR MIŠÍK, BLUE EFFECT                            SLUNEČNÝ HROB                                                                radiozurnal    33
VLADIMÍR MIŠÍK                                         SLUNEČNÍ HROB                                                                dvojka         29
                                                       JEDNOU                                                                       dvojka          9
                                                       CO TI DÁM?                                                                   dvojka          9
VLADIMÍR MIŠÍK/ETC...                                  STŘÍHALI DOHOLA MALÉHO CHLAPEČKA                                             dvojka          7
VLADIMÍR MIŠÍK & ETC…                                  LADY VAMP (VLADIMÍR MIŠÍK & JAN HRUBÝ & VLADIMÍR PADRŮNĚK & VLADIMÍR MERTA)  vltava          3
VLADIMÍR MIŠÍK                                         PO DLOUHÉM DNI                                                               vltava          3
                                                       DĚKUJI (PETR OSTROUCHOV & DAVID STYPKA)                                      vltava          3
ADAM MIŠÍK & VLADIMÍR MIŠÍK                            VARIACE NA RENESANČNÍ TÉMA                                                   radiozurnal     2
VLADIMÍR MIŠÍK & BLUE SHADOWS & BLIND BOYS OF ALABAMA  ŠEDESÁTÁ LÉTA (VLADIMÍR MIŠÍK)                                               vltava          2
ADAM MIŠÍK FEAT. BEN CRISTOVAO                         ZAPOMENOUT                                                                   radiozurnal     2
ADAM MIŠÍK                                             JARO                                                                         radiozurnal     2
VLADIMÍR MIŠÍK                                         CO TI DÁM                                                                    radiozurnal     2
                                                       ANDĚLÉ (PETR OSTROUCHOV & JAN SKÁCEL)                                        vltava          2
ADAM MIŠÍK, VLADIMÍR MIŠÍK                             VARIACE NA RENESANČNÍ TÉMA                                                   dvojka          2
ADAM MIŠÍK X SIMA                                      BEZ TEBE                                                                     radiozurnal     2
ADAM MIŠÍK                                             V TOBĚ                                                                       dvojka          1
VLADIMÍR MIŠÍK                                         JEDNOHUBKY                                                                   dvojka          1
                                                       KOUKNI NA TU FOTKU (ADMIN)                                                   vltava          1
                                                       KOČKY MŇOUKALY NA STŘEŠE                                                     dvojka          1
                                                       NOČNÍ OBRAZ                                                                  dvojka          1
                                                       DVACET DEKA DUŠE                                                             dvojka          1
                                                       STŘÍHALI DOHOLA MALÉHO CHLAPEČKA                                             dvojka          1
                                                       VARIACE NA RENESANČNÍ TÉMA (ADMIN)                                           vltava          1
VLADIMÍR MIŠÍK & BLUE SHADOWS & BLIND BOYS OF ALABAMA  ŠEDESÁTÁ LÉTA                                                                dvojka          1
MIŠÍK VLADIMÍR/FLAMENGO                                JÁ A DÝM                                                                     dvojka          1
MIŠÍK VLADIMÍR                                         LADY VAMP                                                                    dvojka          1
VLADIMÍR MIŠÍK                                         JEDNOU (ADMIN)                                                               vltava          1
dtype: int64

In [20]:
hraje('rolling')

interpret                       track                                           stanice
ROLLING STONES                  MESS IT UP                                      radiozurnal    91
                                ANGRY                                           radiozurnal    60
                                START ME UP                                     radiozurnal    50
                                ANGIE                                           radiozurnal    41
                                ANYBODY SEEN MY BABY                            radiozurnal    20
                                                                                dvojka         19
THE ROLLING STONES              ANGIE                                           dvojka         18
ROLLING STONES                  ANGIE                                           dvojka         11
THE ROLLING STONES              MESS IT UP                                      dvojka         10
ROLLING STONES                  LADY JANE                                       dvojka          8
                                LIKE A ROLLING STONE                            dvojka          6
THE ROLLING STONES              ANGRY                                           dvojka          6
ROLLING STONES                  RUBY TUESDAY                                    dvojka          4
                                AS TEARS GO BY                                  dvojka          3
                                ANGRY                                           dvojka          3
                                MESS IT UP ( PURPLE DISCO MACHINE REMIX)        dvojka          3
THE ROLLING STONES              LIKE A ROLLING STONE                            dvojka          2
                                MISS YOU                                        dvojka          2
SLOWLY ROLLING CAMERA           LOST ORBITS (DAVE STAPLETON)                    vltava          2
                                ILLUMINATE (DAVE STAPLETON & SACHAL VASANDANI)  vltava          2
ROLLING STONES                  WILD HORSES                                     dvojka          2
                                THE LAST TIME                                   dvojka          2
                                SATISFACTION (I CAN'T GET NO)                   radiozurnal     2
THE ROLLING STONES & LADY GAGA  SWEET SOUNDS OF HEAVEN                          dvojka          2
ROLLING STONES                  BROWN SUGAR                                     dvojka          2
                                GET OFF OF MY CLOUD                             dvojka          2
                                JUMPING JACK FLASH                              dvojka          2
                                OUT OF TIME                                     dvojka          2
                                SATISFACTION (I CAN´T GET NO)                   dvojka          1
ST. MAARTENS ROLLING TONES      IT'S A FEELING _2014 RECORD KICKS               radiowave       1
ROLLING STONES                  ANGRY (BÁRCZAY LUKÁŠ)                           vltava          1
THE ROLLING STONES              HONKY TONK WOMEN                                dvojka          1
                                AS TEARS GO BY                                  dvojka          1
                                ANYBODY SEEN MY BABY                            dvojka          1
ROLLING STONES                  LET'S SPEND THE NIGHT TOGETHER                  dvojka          1
                                LOVE IS STRONG                                  dvojka          1
                                START ME UP                                     dvojka          1
SLOWLY ROLLING CAMERA           FLOW                                            vltava          1
ROLLING STONES                  WILD HORSES - ROLLING STONES                    dvojka          1
                                WILD HORSES                                     radiozurnal     1
                                PAINT IT BLACK                                  dvojka          1
                                TIME IS ON MY SIDE                              dvojka          1
                                PAINT IT, BLACK                                 dvojka          1
                                SYMPATHY FOR THE DEVIL                          dvojka          1
                                SATISFACTION (I CAN'T GET NO)                   dvojka          1
                                /I CAN T GET NO / SATISFUCTION                  dvojka          1
dtype: int64

In [21]:
hraje('bob dylan')

interpret  track                                               stanice
BOB DYLAN  KNOCKIN' ON HEAVEN'S DOOR                           dvojka         11
           FOREVER YOUNG                                       vltava          4
           IT TAKES A LOT TO LAUGH, IT TAKES A TRAIN TO CRY    vltava          4
           LIKE A ROLLING STONE                                dvojka          4
           BLOWIN IN THE WIND                                  dvojka          3
           I WANT YOU                                          dvojka          3
           BLACK RIDER                                         vltava          2
           IT AIN'T ME BABE                                    vltava          2
           MASTERS OF WAR                                      vltava          2
           BLOWIN´ IN THE WIND (ADMIN)                         vltava          1
           I WANT YOU (BURDA JIŘÍ)                             vltava          1
           KNOCKIN' ON HEAVEN'S DOOR                           radiozurnal     1
           MOTHER OF MUSES                                     vltava          1
           MR. TAMBOURINE MAN                                  dvojka          1
           THE CHRISTMAS BLUES (SAMMY CAHN & DAVID JACK HOLT)  vltava          1
           THE TIMES THEY ARE A-CHANGIN'                       dvojka          1
dtype: int64

In [22]:
hraje('kubiš')

interpret                                track                                              stanice
MARTA KUBIŠOVÁ                           DEPEŠE                                             dvojka         57
                                         NECHTE ZVONY ZNÍT                                  dvojka         49
                                         HEJ, JUDE (HEY, JUDE)                              dvojka         43
                                         MAGDALENA                                          dvojka         32
                                         LOUDÁ SE PŮLMĚSÍC                                  dvojka         15
                                         RING-O-DING                                        dvojka          8
                                         MODLITBA PRO MARTU                                 dvojka          4
                                         MAMA                                               dvojka          3
                                         DOBRODRUŽSTVÍ S BOHEM PANEM                        dvojka          3
                                         MAGDALÉNA                                          dvojka          2
                                         S NEBÝVALOU OCHOTOU                                dvojka          2
                                         ZDIVOČELÁ ZEMĚ                                     dvojka          2
                                         POJĎ A MĚJ MĚ RÁD                                  dvojka          2
                                         NEPIŠ DÁL                                          dvojka          2
                                         S TEBOU JSEM JÁ                                    dvojka          1
                                         STARALA SE MÁTI MÁ                                 dvojka          1
                                         SAMA                                               dvojka          1
                                         SEDÍM NA MĚSÍCI                                    dvojka          1
                                         VRBA                                               dvojka          1
                                         TULÁCKÁ (ADMIN)                                    vltava          1
                                         TVŮJ KRÉM, TVŮJ NŮŽ, TVŮJ RŮŽENEC                  dvojka          1
                                         VŠECHNY BOLESTI UTIŠÍ LÁSKA                        dvojka          1
                                         ZLÝ DLOUHÝ PŮST                                    dvojka          1
MARTA KUBIŠOVÁ & BRATŘI EBENOVÉ          PANNO BLAHOSLAVENÁ (TRAD. /ARR. BRATŘI EBENOVÉ)    vltava          1
                                         Z NEBE POSEL VYCHÁZÍ (TRAD. /ARR. BRATŘI EBENOVÉ)  vltava          1
                                         ŠLA MARIA DO RÁJE (MAREK EBEN)                     vltava          1
MARTA KUBIŠOVÁ, H.VONDRÁČKOVÁ, V.NECKÁŘ  ČASY SE MĚNÍ                                       dvojka          1
MARTA KUBIŠOVÁ, HELENA VONDRÁČKOVÁ       OH, BABY, BABY                                     dvojka          1
MARTA KUBIŠOVÁ, WALDEMAR MATUŠKA         VÍC NECHTĚL BY SNAD ANI D´ARTAGNAN                 dvojka          1
MARTA KUBIŠOVÁ, WHITE WOLF TREZAK        NA NA HEYA                                         dvojka          1
MARTA KUBIŠOVÁ/VÁCLAV NECKÁŘ             RÁDA BYCH K BETLÉMU/ŠTĚSTÍ, ZDRAVÍ, POKOJ SVATÝ    dvojka          1
MARTA KUBIŠOVÁ                           NESEM VÁM NOVINY                                   dvojka          1
KAREL GOTT & MARTA KUBIŠOVÁ              JARMARK VE SCARBOROUGH                             dvojka          1
MARTA KUBIŠOVÁ                           NENÍ TO LÁSKA                                      dvojka          1
                                         DOBRODRUŽSTVÍ S BOHEM PANEM                        radiozurnal     1
KUBIŠOVÁ MARTA                           ATLANTIS - MARTA KUBIŠOVÁ                          dvojka          1
                                         DEJTE MI KOUSEK LOUKY - KUBIŠOVÁ MARTA             dvojka          1
                                         DEPEŠE                                             dvojka          1
                                         HEY JUDE                                           dvojka          1
                                         MODLITBA PRO MARTU - MARTA KUBIŠOVÁ                dvojka          1
                                         ČAS JE NEJVYŠŠÍ PÁN - KUBIŠOVÁ MARTA               dvojka          1
MARTA KUBIŠOVÁ                           AŽ ÚNAVOU                                          dvojka          1
                                         CESTA                                              dvojka          1
                                         DENNĚ ČEKÁM                                        dvojka          1
                                         HEJ JUDE                                           dvojka          1
                                         MÁJ                                                dvojka          1
                                         HEY JUDE                                           radiozurnal     1
                                         JÁ CESTU K TOBĚ NAJDU SI                           dvojka          1
                                         JÁ DOVEDU LHÁT                                     dvojka          1
                                         JÁ TU S TVÁŘÍ NEMĚNNOU                             dvojka          1
dtype: int64

In [23]:
hraje('velvet')

interpret                  track                              stanice
THE VELVET UNDERGROUND     ALL TOMORROW'S PARTIES (LOU REED)  vltava     2
                           I´LL BE YOUR MIRROR (ADMIN)        vltava     1
                           JESUS (LOU REED & DOUG YULE)       vltava     1
VELVET UNDERGROUND & NICO  SUNDAY MORNING (BURDA JIŘÍ)        vltava     1
dtype: int64

In [24]:
hraje('orchestr')

interpret                                                                               track                                                                                                            stanice
STUDIOVÝ ORCHESTR                                                                       ČESKÁ STÁTNÍ HYMNA                                                                                               dvojka     301
ORCHESTRAL MANOEUVRES IN THE DARK                                                       WALKING ON THE MILKY WAY                                                                                         dvojka      16
EVA OLMEROVÁ & ORCHESTR GUSTAVA BROMA                                                   ČERNÁ KÁRA (JOSEF KAINAR)                                                                                        vltava       7
                                                                                        BLUES ŽELEZNIČNÍHO MOSTU (JOSEF KAINAR)                                                                          vltava       7
JIŘÍ SUCHÝ & JIŘÍ ŠLITR & ORCHESTR FERDINANDA HAVLÍKA                                   MISSISSIPPI (JIŘÍ ŠLITR & JIŘÍ SUCHÝ)                                                                            vltava       6
SYMFONICKÝ ORCHESTR HLAVNÍHO MĚSTA PRAHY FOK, DIR. LIBOR PEŠEK                          VALČÍK Z FILMU OBCHOD NA KORZE (ZDENĚK LIŠKA)                                                                    vltava       6
BOURNEMOUTH SYMPHONY ORCHESTRA, DIR. KIRILL KARABITS                                    SINFONIETTA A DUR, OP. 5/48 - 5. ČÁST, ALLEGRO GIOCOSO (SERGEJ PROKOFJEV)                                        vltava       5
SYMFONICKÝ ORCHESTR HLAVNÍHO MĚSTA PRAHY FOK, DIR. JIŘÍ BĚLOHLÁVEK                      VÝLETY PANA BROUČKA, SUITA PRO ORCHESTR Z OPERY - 2. ČÁST, MĚSÍČNÍ VALČÍK (LEOŠ JANÁČEK)                         vltava       5
IVAN KLÁNSKÝ & DVOŘÁKŮV KOMORNÍ ORCHESTR, DIR. VLADIMÍR VÁLEK                           MENUET Z CYKLU HUMORESQUES DE CONCERT (ÚPRAVA PRO KLAVÍR A ORCHESTR) (IGNACY JAN PADEREWSKI)                     vltava       5
DVOŘÁKŮV KOMORNÍ ORCHESTR, DIR. MIROSLAV HOMOLKA                                        VALČÍK A KVAPÍK Z 1. DĚJSTVÍ BALETU Z POHÁDKY DO POHÁDKY (OSKAR NEDBAL)                                          vltava       5
LAHTI SYMPHONY ORCHESTRA, DIR. OSMO VÄNSKÄ                                              SYMFONIE Č. 1 E MOLL, OP. 39 - 3. ČÁST, SCHERZO. ALLEGRO (JEAN SIBELIUS)                                         vltava       5
SLOVENSKÝ KOMORNÍ ORCHESTR, DIR. BOHDAN WARCHAL & MUSICA BOHEMICA, DIR. JAROSLAV KRČEK  TŘI TANCE VE STARÉM SLOHU, OP. 77 - Č. 1, ALLEGRO (JAROSLAV KRČEK)                                               vltava       5
VAN CLIBURN & CHICAGO SYMPHONY ORCHESTRA, DIR. WALTER HENDL                             KONCERT PRO KLAVÍR A ORCHESTR Č. 2 D MOLL, OP. 23 - 2. ČÁST, PRESTO GIOCOSO (EDWARD MACDOWELL)                   vltava       5
FILHARMONICKÝ ORCHESTR - OSLO, DIR. MARISS JANSONS                                      ROMEO A JULIE, SUITA Z BALETU, OP. 64B - 1. ČÁST, LIDOVÝ TANEC (SERGEJ PROKOFJEV)                                vltava       5
FILMHARMONIC ORCHESTRA PRAGUE, DIR. ADAM KLEMENS                                        TARANTELA, SKLADBA PRO SYMFONICKÝ ORCHESTR (VADIM PETROV)                                                        vltava       5
JIŘÍ SUCHÝ & ORCHESTR KARLA VLACHA                                                      SLEČNA V SEDMÝ ŘADĚ (JIŘÍ ŠLITR & JIŘÍ SUCHÝ)                                                                    vltava       5
BRUSELSKÝ FILHARMONICKÝ ORCHESTR, DIR. ALEXANDER RAHBARI                                VROLIJKE OVERTURE (VESELÁ PŘEDEHRA) (MARCEL POOT)                                                                vltava       5
STUDIOVÝ ORCHESTR                                                                       HAUNTED BY WATERS - A RIVER RUNS THROUGH IT (REPRISE), HUDBA Z FILMU TEČE TUDY ŘEKA (MARK ISHAM)                 vltava       5
JAROSLAVA ELIÁŠOVÁ & FILMOVÝ SYMFONICKÝ ORCHESTR, DIR. ŠTĚPÁN KONÍČEK                   SAO PAULO, HUDBA Z FILMU Z ARGENTINY DO MEXIKA (ZDENĚK LIŠKA)                                                    vltava       5
HAKAN HARDENBERGER & LONDÝNSKÝ FILHARMONICKÝ ORCHESTR, DIR. ELGAR HOWARTH               KONCERT PRO TRUBKU, SMYČCOVÝ ORCHESTR A BASSO CONTINUO Č. 1 ES DUR - 3. ČÁST, VIVACE (JOHANN WILHELM HERTEL)     vltava       4
SYMFONICKÝ ORCHESTR HLAVNÍHO MĚSTA PRAHY FOK, DIR. VLADIMÍR VÁLEK                       VENKOVANKA, VERZE PRO ORCHESTR (BEDŘICH SMETANA)                                                                 vltava       4
CITY OF BIRMINGHAM SYMPHONY ORCHESTRA, DIR. SIMON RATTLE                                SCHERZO A LA RUSSE (IGOR STRAVINSKIJ)                                                                            vltava       4
GÖTEBORSKÝ SYMFONICKÝ ORCHESTR, DIR. NEEME JÄRVI                                        MALÁ SUITA PRO ORCHESTR - 4. ČÁST, MAZURKA. ALLEGRETTO (ALEXANDR PORFIRJEVIČ BORODIN)                            vltava       4
GÖTEBORSKÝ SYMFONICKÝ ORCHESTR, DIR. MYUNG-WHUN CHUNG                                   MAŠKARÁDA, PŘEDEHRA K OPEŘE (CARL NIELSEN)                                                                       vltava       4
SYMFONICKÝ ORCHESTR ČESKÉHO ROZHLASU, DIR. MAREK ŠEDIVÝ                                 SYMFONIE Č. 4 F MOLL, OP. 36 - 4. VĚTA, FINALE: ALLEGRO CON FUOCO (ČÁST) (PETR ILJIČ ČAJKOVSKIJ)                 vltava       4
                                                                                        SERENÁDA Č. 2, H 216 - 3. ČÁST, ALLEGRO CON BRIO (BOHUSLAV MARTINŮ)                                              vltava       4
CITY OF BIRMINGHAM SYMPHONY ORCHESTRA, DIR. SIMON RATTLE                                HUDBA K DRAMATU WILLIAMA SHAKESPEARA KRÁL LEAR - 1. ČÁST, FANFARE D'OUVERTURE (CLAUDE DEBUSSY)                   vltava       4
HANA HEGEROVÁ & ORCHESTR FERDINANDA HAVLÍKA                                             KAPKA ŽÁRLIVOSTI (JIŘÍ ŠLITR & JIŘÍ SUCHÝ)                                                                       vltava       4
SYMFONICKÝ ORCHESTR ČESKÉHO ROZHLASU, DIR. TOMÁŠ NETOPIL                                FILHARMONICKÉ TANCE - 1. ČÁST, ALLEGRO (JAN NOVÁK)                                                               vltava       4
NBC SYMPHONY ORCHESTRA, DIR. ARTURO TOSCANINI                                           UHERSKÝ TANEC Č. 20. E MOLL. POCO ALLEGRETTO - VIVACE (JOHANNES BRAHMS)                                          vltava       4
FILHARMONICKÝ ORCHESTR – OSLO, DIR. MARISS JANSONS                                      ROMEO A JULIE, OP. 64 - 4. ČÁST, TANEC (SERGEJ PROKOFJEV)                                                        vltava       4
SYMFONICKÝ ORCHESTR JIHONĚMECKÉHO ROZHLASU, DIR. JIŘÍ STÁREK                            SUITA PRO ORCHESTR A DUR, OP. 98B - Č. 5, ALLEGRO (ANTONÍN DVOŘÁK)                                               vltava       4
NEW ZEALAND SYMPHONY ORCHESTRA, DIR. JAMES JUDD                                         FANTASIA ON GREENSLEEVES (RALPH VAUGHAN WILLIAMS)                                                                vltava       4
SYMFONICKÝ ORCHESTR HLAVNÍHO MĚSTA PRAHY FOK, DIR. VÁCLAV SMETÁČEK                      PEER GYNT, SUITA Č. 1, OP. 46 - Č. 3, TANEC ANITRY (EDVARD GRIEG)                                                vltava       4
GÖTEBORSKÝ SYMFONICKÝ ORCHESTR, DIR. NEEME JÄRVI                                        VARIACE PRO VELKÝ ORCHESTR, OP. 2 - FINALE. VARIATION 10. ADAGIO - ALLEGRO (MAXIMILIAN OSEJEVIČ STEINBERG)       vltava       4
SYMFONICKÝ ORCHESTR HLAVNÍHO MĚSTA PRAHY FOK, DIR. JIŘÍ BĚLOHLÁVEK                      PRODANÁ NEVĚSTA - POLKA Z 1. DĚJSTVÍ (BEDŘICH SMETANA)                                                           vltava       4
SAO PAULO SYMPHONY ORCHESTRA, DIR. ISAAC KARABTCHEVSKY                                  SYMFONIE Č. 1 - 3. ČÁST, SCHERZO. ALLEGRO VIVACE (HEITOR VILLA-LOBOS)                                            vltava       4
FRANCOUZSKÝ NÁRODNÍ ROZHLASOVÝ ORCHESTR, DIR. JAMES CONLON                              FANTASTICKÁ SYMFONIE, OP. 14 - 4. ČÁST, POCHOD NA POPRAVIŠTĚ (HECTOR BERLIOZ)                                    vltava       4
FAST FOOD ORCHESTRA                                                                     BISTRO SNŮ                                                                                                       dvojka       4
STUDIOVÝ ORCHESTR                                                                       ONE FLEW OVER THE CUCKOO'S NEST (CLOSING THEME) (JACK NITZSCHE)                                                  vltava       4
EVA OLMEROVÁ & ORCHESTR KARLA VLACHA                                                    POSLEDNÍ PRODUKCE (LUDĚK HULAN & RONALD KRAUS)                                                                   vltava       4
FILIP TŮMA & DEBRECEN PHILHARMONIC ORCHESTRA, DIR. IGOR DOHOVIČ                         VOTRE TOAST, JE PEUX VOUS LE RENDRE, ÁRIE Z 2. DĚJSTVÍ OPERY CARMEN (GEORGES BIZET)                              vltava       4
SUKŮV KOMORNÍ ORCHESTR                                                                  SYMFONIE PRO SMYČCOVÝ ORCHESTR A CEMBALO Č. 1 G DUR - 1. ČÁST, ALLEGRO (FRANTIŠEK XAVER RICHTER)                 vltava       4
LONDON PHILHARMONIC ORCHESTRA, DIR. ENNIO MORRICONE                                     GABRIEL'S OBOE, SKLADBA Z FILMU THE MISSION (MISE) (ENNIO MORRICONE)                                             vltava       4
SUKŮV KOMORNÍ ORCHESTR, DIR. JOSEF SUK                                                  SERENÁDA PRO SMYČCOVÝ ORCHESTR ES DUR, OP. 6 - 2. ČÁST, ALLEGRO MA NON TROPPO E GRAZIOSO (JOSEF SUK)             vltava       4
LONDON SYMPHONY ORCHESTRA, DIR. GEOFFREY SIMON                                          ČARODĚJNÁ LÁSKA (EL AMOR BRUJO) - 8. ČÁST, RITUAL FIVE DANCE (TO DRIVE AWAY THE EVIL SPIRITS) (MANUEL DE FALLA)  vltava       4
SYMFONICKÝ ORCHESTR HLAVNÍHO MĚSTA PRAHY FOK, DIR. VLADIMÍR VÁLEK                       SLAVNOSTNÍ PŘEDEHRA K POLOŽENÍ ZÁKLADNÍHO KAMENE NÁRODNÍHO DIVADLA (BEDŘICH SMETANA)                             vltava       4
LONDON PHILHARMONIC ORCHESTRA, DIR. ADRIAN BOULT                                        SERENÁDA PRO SMYČCOVÝ ORCHESTR E MOLL, OP. 20 - 1. ČÁST, ALLEGRO PIACEVOLE (EDWARD ELGAR)                        vltava       4
JOSEF SUK & PRAŽSKÝ KOMORNÍ ORCHESTR                                                    SERENÁDA PRO HOUSLE A ORCHESTR (OSKAR NEDBAL)                                                                    vltava       4
DŽAMBO AGUŠEVI ORCHESTRA                                                                SIKIDIM (DŽAMBO´S VERSION) (FATMA SEZEN YILDIRIM & DJAMBO OZDEN & HENRY ERNST)                                   vltava       4
dtype: int64

In [25]:
hraje('kryl')

interpret   track                              stanice
KAREL KRYL  BRATŘÍČKU, ZAVÍREJ VRÁTKA          dvojka         6
            ANDĚL                              dvojka         5
            PÍSEŇ O ŽRÁDLE                     vltava         4
            ANDĚL                              radiozurnal    3
            MORITURI TE SALUTANT               dvojka         3
            KARAVANA MRAKŮ                     dvojka         2
            MARAT VE VANĚ                      dvojka         2
            MARTINA                            dvojka         2
            SAMETOVÉ JARO                      vltava         2
            BRATŘÍČKU, ZAVÍREJ VRÁTKA          radiozurnal    1
            BRATŘÍČKU, ZAVÍREJ VRÁTKA (ADMIN)  vltava         1
            DĚKUJI (ADMIN)                     vltava         1
            KRÁL A KLAUN                       dvojka         1
            MARTINA (ADMIN)                    vltava         1
KRYL KAREL  KRÁL A KLAUN                       dvojka         1
            SALOME (K.KRYL/K.KRYL)             vltava         1
dtype: int64

In [26]:
df[(df['stanice'] == 'radiozurnal') & (df['interpret'] == 'JAROMÍR NOHAVICA')]

Empty DataFrame
Columns: [since, id, interpret, interpret_id, track, track_id, stanice, rok]
Index: []

In [27]:
hraje('nohavi')

interpret                        track                             stanice
JAROMÍR NOHAVICA                 STARÝ MUŽ                         dvojka         41
                                 MÁMA MI NA KRK DALA KLÍČ          dvojka         25
                                 KOMETA                            dvojka         23
JAROMÍR NOHAVICA/JANA KIRSCHNER  PRVNÍ NOC V NOVÉM BYTĚ            dvojka         21
JAROMÍR NOHAVICA                 PODEJ MI RUKU A PROJDEM VÁCLAVÁK  dvojka         11
PETR NOHAVICA                    VINEFIELD NO. 1                   vltava          3
                                 EVEN IF                           vltava          3
JAROMÍR NOHAVICA, LENKA NOVÁ     MILÁČEK ŽEN A VETEŠNÍKŮ           radiozurnal     2
JAROMÍR NOHAVICA                 LADOVSKÁ ZIMA                     dvojka          2
                                 TĚŠÍNSKÁ                          dvojka          2
JAROMÍR NOHAVICA - B SIDE BAND   ZATÍM CO SE KOUPEŠ                dvojka          1
JAROMÍR NOHAVICA                 ŠNEČÍ BLUES                       dvojka          1
                                 ZBLOUDILÝ KORÁB                   dvojka          1
                                 ZATÍM CO SE KOUPEŠ                dvojka          1
                                 VLAŠTOVKO LEŤ (J.NOHAVICA)        vltava          1
                                 V PŮLNOČNÍ HODINU                 dvojka          1
JAREK NOHAVICA                   TĚŠÍNSKÁ                          dvojka          1
JAROMÍR NOHAVICA                 PEKLO A RÁJ                       dvojka          1
                                 CUKRÁŘSKÁ BOSSANOVA               dvojka          1
                                 MÁM JIZVU NA RTU                  dvojka          1
                                 MOŽNÁ ŽE SE MÝLÍM                 dvojka          1
                                 GRÓNSKÁ PÍSNIČKA                  dvojka          1
                                 FOTBAL                            dvojka          1
                                 EMPIRE STATE                      dvojka          1
                                 DOKUD SE ZPÍVÁ                    dvojka          1
                                 DIVOCÍ KONĚ                       dvojka          1
                                 DARMODĚJ                          dvojka          1
                                 CYKLISTIKA                        dvojka          1
                                 MÁMA MI NA KRK DALA KLÍČ          vltava          1
dtype: int64

In [28]:
derniery = df[df['stanice'] == 'radiozurnal'].groupby('interpret')['since'].max()

In [29]:
derniery[derniery <= '2022-02-24'].sort_values(ascending=False).head(30)

Series([], Name: since, dtype: datetime64[ns, UTC+01:00])

In [30]:
hraje('e pove')

interpret        track                  stanice
RICCHI E POVERI  MADE IN ITALY          dvojka     3
                 SARÁ PERCHÉ TI AMO     dvojka     3
                 ACAPULCO               dvojka     2
                 CANZONE D'AMORE        dvojka     1
                 CIAO ITALY,CIAO AMORE  dvojka     1
                 MAMMA MARIA            dvojka     1
                 VOULES VOUZ DANSER     dvojka     1
dtype: int64

In [31]:
hraje('sufjan')

interpret       track                                                      stanice
SUFJAN STEVENS  LONELY MAN OF WINTER (DOVEMAN MIX FT. MELISSA MARY AHERN)  radiowave    56
                WITH MY WHOLE HEART                                        radiowave    52
                WILL ANYBODY EVER LOVE ME                                  radiowave    51
                VIDEO GAME                                                 radiowave    45
                DING-A-LING-A-RING-A-LING                                  radiowave     2
                ALL OF ME WANTS ALL OF YOU                                 radiowave     1
                WASTE OF WHAT YOUR KIDS WONT HAVE                          radiowave     1
dtype: int64

In [32]:
hraje('grimes')

interpret  track                stanice
GRIMES     VIOLENCE FT. I_O     radiowave    47
           4/EM                 radiowave    43
           WE APPRECIATE POWER  radiowave    32
           REALITI              radiowave     1
dtype: int64

In [33]:
hraje('midi lidi')

interpret  track                    stanice
MIDI LIDI  NA TO NESMÍŠ ZAPOMENOUT  radiowave    1
dtype: int64

In [34]:
hraje('kazety')

Series([], dtype: int64)

In [35]:
hraje('margo')

interpret  track                                                                                      stanice
MARGO      THE FASCINATING STORY OF TSAR NICHOLAS AND WHAT HAPPENED TO OUR INTERPOLITICAL FRIENDSHIP  radiowave    68
           A WELL TRAVELED GENTLEMAN MR. PARTESH HAVING A DRINK ON THE 96TH FLOOR, WHAT A VIEW!       radiowave    50
dtype: int64

In [36]:
hraje('ventol')

interpret  track          stanice
VENTOLIN   POSUN ČASU     radiowave    22
           SUPERSONIK     radiowave    15
           DISCO SCIENCE  radiowave    11
           PŮJDEME VEN    radiowave     2
dtype: int64

In [37]:
hraje('post-hudb')

interpret   track                                        stanice
POST-HUDBA  BEZPEČÍ A KLID                               radiowave    24
            DO PRÁCE PŘES NUSELÁK, Z PRÁCE PŘES NUSELÁK  vltava        2
            PRVNÍ SNÍH V PODOLÍ                          vltava        2
            BEZPEČÍ A KLID                               vltava        1
            POŘÁD STEJNÝ POUŠTĚ                          radiowave     1
            PŘÍSTAVY                                     radiowave     1
dtype: int64

In [38]:
hraje('polachek')

interpret          track                                                 stanice
CAROLINE POLACHEK  SO COLD YOU'RE HURTING MY FEELINGS                    radiowave    78
                   WELCOME TO MY ISLAND                                  radiowave    74
                   SMOKE                                                 radiowave    73
                   DANG                                                  radiowave    63
                   BUNNY IS A RIDER                                      radiowave    54
                   PANG                                                  radiowave     6
                   BLOOD AND BUTTER (CAROLINE POLACHEK & DANNY L HARLE)  vltava        4
                   OCEAN OF TEARS                                        radiowave     1
                   SO HOT YOURE HURTING MY FEELINGS                      radiowave     1
dtype: int64

In [39]:
hraje('gleb')

interpret  track                stanice
GLEB       ALIBABABIGBASS       radiowave    73
           WORKIN WORKIN        radiowave    29
           GAUČ STORYTELLING    radiowave    17
           ZEŠLACH CRUNK        radiowave    15
           BUDEME TAM FT. VI3E  radiowave     1
           GO GO GO             radiowave     1
           ODZEMOK              radiowave     1
           ZZZ                  radiowave     1
dtype: int64

In [40]:
df[(df['interpret'] == 'GLEB ZOO') & (df['stanice'] == 'dvojka')]

Empty DataFrame
Columns: [since, id, interpret, interpret_id, track, track_id, stanice, rok]
Index: []

In [41]:
df[(df['interpret'] == 'VENTOLIN') & (df['stanice'] == 'dvojka')]

Empty DataFrame
Columns: [since, id, interpret, interpret_id, track, track_id, stanice, rok]
Index: []

In [42]:
df[(df['interpret'] == 'MIDI LIDI') & (df['stanice'] == 'dvojka')]

Empty DataFrame
Columns: [since, id, interpret, interpret_id, track, track_id, stanice, rok]
Index: []

In [43]:
df[(df['interpret'] == 'RADIOHEAD') & (df['stanice'] == 'dvojka')]

,since,id,interpret,interpret_id,track,track_id,stanice,rok
128911,2024-04-18 22:50:17+01:00,20238895,RADIOHEAD,1267,CREEP,42843,dvojka,2024

In [44]:
hraje('taylor swift')

interpret                      track                                    stanice
TAYLOR SWIFT                   CRUEL SUMMER                             radiozurnal    76
                               I CAN SEE YOU                            radiozurnal    60
TAYLOR SWIFT, POST MALONE      FORTNIGHT                                radiozurnal    30
TAYLOR SWIFT                   EXILE FEAT. BON IVER                     radiowave      16
TAYLOR SWIFT FEAT.POST MALONE  FORTNIGHT                                dvojka         11
TAYLOR SWIFT                   ANTI-HERO                                dvojka          5
                               IS IT OVER NOW                           dvojka          4
                               SHAKE IT OFF                             radiozurnal     4
                               LAVENDER HAZE                            dvojka          3
TAYLOR SWIFT FEAT. ICE SPICE   KARMA                                    dvojka          3
TAYLOR SWIFT                   CRUEL SUMMER                             dvojka          3
                               ANTI-HERO                                radiozurnal     2
                               DON'T BLAME ME                           dvojka          2
                               LAST CHRISTMAS                           dvojka          1
                               BLANK SPACE                              dvojka          1
                               I CAN DO IT WITH A BROKEN HEART          dvojka          1
                               TEARDROPS ON MY GUITAR                   dvojka          1
                               WE ARE NEVER EVER GETTING BACK TOGETHER  dvojka          1
TAYLOR SWIFT FEAT. BON IVER    EXILE                                    dvojka          1
TAYLOR SWIFT                   CARDIGAN                                 dvojka          1
                               BAD BLOOD                                dvojka          1
TAYLOR SWIFT FEAT.POST MALONE  FORTNIGHT                                radiozurnal     1
TAYLOR SWIFT                   OUR SONG                                 dvojka          1
dtype: int64

In [45]:
hraje('něco něco')

interpret  track                                    stanice
NĚCO NĚCO  CHYBY                                    radiowave    99
           CO VLASTNĚ CHCEŠ II                      radiowave    91
           ROVINA                                   radiowave    62
           CO VLASTNĚ CHCEŠ                         radiowave    43
           MEZERY (TOMÁŠ TKÁČ & ALŽBĚTA TRUSINOVÁ)  vltava        1
dtype: int64

In [46]:
hraje('elefteriadu')

interpret                  track                            stanice
ELEFTERIADU MARTHA A TENA  HRAJTE SWING                     dvojka     1
MARTA & TENA ELEFTERIADU   SULEJMON                         dvojka     1
MARTHA A TENA ELEFTERIADU  VELKÁ CENA                       dvojka     1
MARTHA ELEFTERIADU         PROČ PŘICHÁZÍŠ TAK POZDĚ, LÁSKO  dvojka     1
dtype: int64

In [47]:
hraje('of montreal')

Series([], dtype: int64)

In [48]:
hraje('mountain goats')

interpret           track                                    stanice
THE MOUNTAIN GOATS  ANDREW ELDRITCH IS MOVING BACK TO LEEDS  radiowave    1
                    DAMN THESE VAMPIRES                      radiowave    1
dtype: int64

In [49]:
hraje('nick cave')

interpret                              track                                                                              stanice
NICK CAVE, KYLIE MINOGUE               WHERE THE WILD ROSES GROW                                                          radiozurnal    73
NICK CAVE & KYLIE MINOQUE              WHERE THE WILD ROSES GROW                                                          dvojka         20
NICK CAVE AND THE BAD SEEDS            WE NO WHO U R (NICK CAVE & WARREN ELLIS)                                           vltava          3
NICK CAVE                              SAD WATERS                                                                         vltava          2
NICK CAVE & WARREN ELLIS               CARNAGE                                                                            vltava          2
                                       LAVENDER FIELDS                                                                    vltava          2
NICK CAVE                              IDIOT PRAYER                                                                       vltava          1
                                       PALACES OF MONTEZUMA (NICK CAVE & WARREN ELLIS & MARTYN P. CASEY & JIM SCLAVUNOS)  vltava          1
NICK CAVE & KYLIE MINOQUE              WHERE THE WILD ROSES GROW (HUDEBNÍ REDAKTOR PL)                                    vltava          1
NICK CAVE & THE BAD SEEDS              DO YOU LOVE ME? (ADMIN)                                                            vltava          1
                                       LONG DARK NIGHT                                                                    radiowave       1
                                       RED RIGHT HAND (PETR JUNGMANN)                                                     vltava          1
                                       SUPERNATURALLY                                                                     radiowave       1
                                       WONDERFUL LIFE                                                                     dvojka          1
NICK CAVE & THE BAD SEEDS & PJ HARVEY  HENRY LEE                                                                          dvojka          1
dtype: int64

## Hledání písní

In [50]:
df[df['track'].str.lower().str.contains('vražd',na=False)][['interpret','track']].drop_duplicates()

Empty DataFrame
Columns: [interpret, track]
Index: []

## Žebříček pro článek

In [51]:
df['den'] = df['since'].dt.dayofyear

In [52]:
df['den'].nunique()

310

In [53]:
top10rz = pd.DataFrame(df[(df['stanice'] == 'radiozurnal') & (df['rok'] == 2023)].groupby('interpret')['id'].nunique().nlargest(6))

In [54]:
df.columns

Index(['since', 'id', 'interpret', 'interpret_id', 'track', 'track_id',
       'stanice', 'rok', 'den'],
      dtype='object')

In [55]:
top10rz

                  id
interpret
ROBBIE WILLIAMS  160
R.E.M.           154
ED SHEERAN       153
COLDPLAY         144
U 2              144
BRYAN ADAMS      136

In [56]:
top10rz = top10rz.reset_index()

In [57]:
top10rz

         interpret   id
0  ROBBIE WILLIAMS  160
1           R.E.M.  154
2       ED SHEERAN  153
3         COLDPLAY  144
4              U 2  144
5      BRYAN ADAMS  136

In [58]:
dni2023 = df[df['rok'] == 2023]['den'].nunique()

In [59]:
top10rz['denne'] = top10rz['id'] / dni2023

In [60]:
top10rz['denne'] = top10rz['denne'].apply(lambda x: round(x, 2))

In [61]:
top10rz['Písní'] = top10rz['interpret'].apply(lambda x: df[(df['stanice'] == 'radiozurnal') & (df['rok'] == 2023) & (df['interpret'] == x)]['track'].nunique())

In [62]:
top10rz

         interpret   id  denne  Písní
0  ROBBIE WILLIAMS  160   2.25     12
1           R.E.M.  154   2.17     11
2       ED SHEERAN  153   2.15     10
3         COLDPLAY  144   2.03     12
4              U 2  144   2.03     11
5      BRYAN ADAMS  136   1.92     12

In [63]:
hezke_nazvy = {"ROBBIE WILLIAMS": "Robbie Williams", "CHINASKI": "Chinaski", "ED SHEERAN": "Ed Sheeran", "U 2": "U2", "COLDPLAY": "Coldplay", "P!NK": "P!nk", "ONE REPUBLIC": "One Republic", "ANETA LANGEROVÁ": "Aneta Langerová", "ADELE": "Adele", "ROXETTE": "Roxette", "CRANBERRIES": "Cranberries"}

In [64]:
top10rz['interpret'] = top10rz['interpret'].replace(hezke_nazvy)

In [65]:
top10rz

         interpret   id  denne  Písní
0  Robbie Williams  160   2.25     12
1           R.E.M.  154   2.17     11
2       Ed Sheeran  153   2.15     10
3         Coldplay  144   2.03     12
4               U2  144   2.03     11
5      BRYAN ADAMS  136   1.92     12

In [66]:
top10rz = top10rz.rename(columns={'interpret': 'Interpret', 'id': 'Přehrání', 'denne': 'Přehrání za den'})

In [67]:
top10rz = top10rz.drop(columns=['Přehrání'])

In [68]:
top10rz

         Interpret  Přehrání za den  Písní
0  Robbie Williams             2.25     12
1           R.E.M.             2.17     11
2       Ed Sheeran             2.15     10
3         Coldplay             2.03     12
4               U2             2.03     11
5      BRYAN ADAMS             1.92     12

In [69]:
wikid = pd.read_json(os.path.join("wikidata","wikidata.json"))
wikid['interpret_hlavni'] = wikid['interpret_hlavni'].apply(lambda x: x.lower())

In [70]:
wikid.columns

Index(['interpret_hlavni', 'id', 'stazeno', 'nazev_wiki', 'popis_en',
       'popis_cs', 'velikost', 'zanry', 'datum_narozeni', 'datum_umrti',
       'zacatek_pusobeni', 'konec_pusobeni', 'zalozeni', 'zanik', 'gender',
       'misto_puvodu', 'zeme_puvodu', 'obcanstvi', 'etnicita', 'hlas',
       'nastroje', 'oceneni', 'nabozenstvi', 'orientace', 'spotify_id',
       'spotify_odberatele'],
      dtype='object')

In [71]:
def zacatek(i):
        if i == 'One Republic':
            return 2002
        else:
            return int(wikid[wikid['interpret_hlavni'] == i.lower()]['zacatek_pusobeni'].min())

In [72]:
top10rz['Začátek kariéry'] = top10rz['Interpret'].apply(lambda x: zacatek(x))

In [73]:
top10rz['Přehrání za den'] = top10rz['Přehrání za den'].apply(lambda x: str(x).replace(".",","))

In [74]:
top10rz['Přehrání za den'] = top10rz['Přehrání za den'].apply(lambda x: str(x).replace(",0",",00"))

In [75]:
top10rz

         Interpret Přehrání za den  Písní  Začátek kariéry
0  Robbie Williams            2,25     12             1990
1           R.E.M.            2,17     11             1980
2       Ed Sheeran            2,15     10             2004
3         Coldplay           2,003     12             1997
4               U2           2,003     11             1976
5      BRYAN ADAMS            1,92     12             1975

In [76]:
tabulka(top10rz, titulek="Nejhranější interpreti na stanici ČRo Radiožurnál v roce 2023", poradi=True)

'<table class="dataframe table table--responsive table--w100p table--striped-red table--plain"><caption>Nejhranější interpreti na stanici ČRo Radiožurnál v roce 2023</caption><thead><tr style="text-align: right;"><th class="text-nowrap"></th><th class="text-nowrap">Interpret</th><th class="text-nowrap">Přehrání za den</th><th class="text-nowrap">Písní</th><th class="text-nowrap">Začátek kariéry</th></tr></thead><tbody class="text-sm"><tr><td>1.</td><td>Robbie Williams</td><td>2,25</td><td>12</td><td>1990</td></tr><tr><td>2.</td><td>R.E.M.</td><td>2,17</td><td>11</td><td>1980</td></tr><tr><td>3.</td><td>Ed Sheeran</td><td>2,15</td><td>10</td><td>2004</td></tr><tr><td>4.</td><td>Coldplay</td><td>2,003</td><td>12</td><td>1997</td></tr><tr><td>5.</td><td>U2</td><td>2,003</td><td>11</td><td>1976</td></tr><tr><td>6.</td><td>BRYAN ADAMS</td><td>1,92</td><td>12</td><td>1975</td></tr></tbody></table>'

## Titulek pro Datažurnál #15

In [77]:
df[df['track'].str.lower().str.contains('a')]

,since,id,interpret,interpret_id,track,track_id,stanice,rok,den
1,2023-10-22 00:03:12+01:00,19376274,WINONA OAK,25899,WINTER RAIN,87407,radiowave,2023,295
2,2023-10-22 00:07:28+01:00,19376280,DIIV,2909,SKIN GAME,69599,radiowave,2023,295
3,2023-10-22 00:10:40+01:00,19376285,ROBBIE WILLIAMS,2984,ROAD TO MANDALAY,7475,radiozurnal,2023,295
4,2023-10-22 00:11:24+01:00,19376286,DUA LIPA,11139,DANCE THE NIGHT,108512,dvojka,2023,295
6,2023-10-22 00:14:35+01:00,19376292,ROSALÍA & RAUW ALEJANDRO,32074,VAMPIROS,107110,radiowave,2023,295
...,...,...,...,...,...,...,...,...,...
219416,2024-08-27 23:50:12+01:00,20843085,CHIEF BROMDEN,34198,LEADERSHIP,114360,radiowave,2024,240
219417,2024-08-27 23:53:31+01:00,20843091,JESSIE J,9523,I WANT LOVE,91200,radiowave,2024,240
219418,2024-08-27 23:53:35+01:00,20843092,OASIS,6426,WHATEVER,56027,dvojka,2024,240
219419,2024-08-27 23:56:46+01:00,20843099,U.S. GIRLS,9345,SO TYPICALLY NOW,102167,radiowave,2024,240
219421,2024-08-27 23:58:47+01:00,20843103,STUDIOVÝ ORCHESTR,4144,ČESKÁ STÁTNÍ HYMNA,13826,dvojka,2024,240