In [38]:
import os
import pandas as pd

In [39]:
df = pd.read_json(os.path.join("data","cro_raw.json"))

In [40]:
df['since'] = pd.to_datetime(df['since'].apply(lambda x: x.replace("02:00","01:00")))

In [41]:
df.sample(5)

,stanice,since,id,interpret,interpret_id,track,track_id
57227,jazz,2023-12-12 04:26:21+01:00,19620426,VERTIGO,2007,Kiedy przyjdziesz,24944
98508,jazz,2024-01-18 06:30:12+01:00,19796638,ARVE HENRIKSEN,1069,From Birth,2300
226957,jazz,2024-05-11 08:14:46+01:00,20344044,JEREMY PELT,19895,Solidarity,89262
327242,radiozurnal,2024-08-12 20:54:06+01:00,20769494,KEANE,2981,EVERYBODY'S CHANGING,7761
16728,radiowave,2023-11-06 00:54:40+01:00,19448085,LAUNDERED SYRUP,10536,Fire,59078

In [42]:
df[df['interpret'].str.lower().str.contains('artemas',na=False)]

,stanice,since,id,interpret,interpret_id,track,track_id
202177,radiowave,2024-04-18 18:27:18+01:00,20238438,ARTEMAS,34234,I like the way you kiss me,114504
202181,radiowave,2024-04-18 18:32:57+01:00,20238451,ARTEMAS,34234,If u think Im pretty,114951
230972,dvojka,2024-05-15 01:04:05+01:00,20361028,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
271149,dvojka,2024-06-22 01:42:36+01:00,20532687,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
282027,dvojka,2024-07-03 01:04:52+01:00,20579147,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
304452,dvojka,2024-07-24 01:12:15+01:00,20673476,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
308064,dvojka,2024-07-27 01:05:20+01:00,20688509,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
334295,dvojka,2024-08-19 00:11:36+01:00,20798968,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
343801,dvojka,2024-08-27 02:29:28+01:00,20838301,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504

In [43]:
df[df['track'].str.lower().str.contains('i like the way you',na=False)]

,stanice,since,id,interpret,interpret_id,track,track_id
202177,radiowave,2024-04-18 18:27:18+01:00,20238438,ARTEMAS,34234,I like the way you kiss me,114504
230972,dvojka,2024-05-15 01:04:05+01:00,20361028,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
271149,dvojka,2024-06-22 01:42:36+01:00,20532687,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
282027,dvojka,2024-07-03 01:04:52+01:00,20579147,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
304452,dvojka,2024-07-24 01:12:15+01:00,20673476,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
308064,dvojka,2024-07-27 01:05:20+01:00,20688509,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
334295,dvojka,2024-08-19 00:11:36+01:00,20798968,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504
343801,dvojka,2024-08-27 02:29:28+01:00,20838301,ARTEMAS,34234,I LIKE THE WAY YOU KISS ME,114504